@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: aliceblue;
}

/*===========Body Transition Starts============*/
body{
    animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateY(20px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}
/*===========Body Transition Ends============*/

.section{
    width: 100%;
    min-height: 100vh;
}

/*==============Nav Bar Starts Here===================*/

header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 10%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: red;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: aliceblue;
    margin: 2rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a:active{
    color: red;
    border-bottom: 3px solid red;
}
@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid rgb(209, 99, 99);
        border-bottom: 3px solid rgb(209, 99, 99);
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: rgb(59, 59, 59);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.589);
    }

    nav:active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }

    nav a:hover
    nav a:active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem;
    }
}

/*=============Nav Bar Ends Here====================*/


/*----------Menu-----------*/
.menu-btn{
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    display: none;
}

@media(max-width:995px){

    .menu-btn{
        display: block;
    }

    nav{
        position: absolute;
        display: none;
        top: 70px;
        right: 0;
        width: 50%;
        background-color: rgb(59, 59, 59);
        border-left: 3px solid red;
        padding: 2rem;
    }

    nav a{
        display: block;
        margin: 2rem 0;
    }

    nav.active{
        display: block;
    }

}
/*--------pics------------*/

.image-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 120px; /* pushes grid below navbar */
    padding: 0 20px;
}

.image-grid img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
}

/*--------pics mobile view------------*/
@media(max-width: 900px){
    .image-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 500px){
    .image-grid{
        grid-template-columns: 1fr;
    }
}

/*--------logo------------*/
.logo img{
    width: 120px;   /* adjust size */
    height: auto;
    cursor: pointer;
}

.logo img{
    width: 130px;
    filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(6294%) hue-rotate(355deg) brightness(97%) contrast(113%);
}